
.tips {
    margin-bottom: 40px;
}  



.heading   {
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    color: #000000;; 
    padding-left: 10px;
    padding-top: 10px;

}

.card {
    position: center;
    width: 689px;
    height: 154px;
    margin-left: 366px;
    margin-top: 58px;  
    
    background: #F0F0EF;
    box-shadow: 4px 4px 4px rgba(41, 38, 32, 0.04);
    border-radius: 15px;
 
    /* margin-bottom: 300px; */

}

a:visited {
    color: inherit;
    text-decoration: none;
}



.text   {
    position: absolute;
    width: 654px;
    height: 38px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #5E5D5B;
    padding-left: 12px;
    padding-top: 5px;
}