.cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.card {
  width: 700px;
  background-color: white;
  box-shadow: 4px 4px 4px rgba(41, 38, 32, 0.04);
  padding: 15px;
  margin-bottom: 26px;
  border: 2px solid transparent;
}

.card:hover {
  box-sizing: border-box;
  border: 2px solid black;
}

.card a {
  color: black;
  font-weight: 600;
  text-decoration: none;
}

.card p {
  color: #5e5d5b;
}

a:visited {
  color: inherit;
  text-decoration: none;
}
