/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  /* colors */
  --ifm-color-primary: #fcc55b;
  --ifm-color-primary-light: #fdd68a;
  --ifm-color-primary-lighter: #fce2af;
  --ifm-color-primary-lightest: #fef0d3;
  /* --ifm-code-font-size: 95%; */
  --ifm-color-secondary: #58cf5d;
  --ifm-color-secondary-light: #81d88f;
  --ifm-color-secondary-lighter: #a3f1b0;
  --ifm-color-secondary-lightest: #cafbd1;
  --ifm-color-tertiary: #b2305e;
  --ifm-color-tertiary-light: #df5385;
  --ifm-color-tertiary-lighter: #fd8cb4;
  --ifm-color-tertiary-lightest: #ffc0d6;
  --ifm-link-color: #22747d;
  --ifm-link-color-light: #28b4c4;
  --ifm-link-color-lighter: #77deea;
  --ifm-link-color-lightest: #acf1f9;

  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* font */
body {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
}

body.em {
  font-weight: 500;
}

h1,
.h1 {
  font-weight: 500;
  font-size: 48px;
  font-weight: 500;
}

h2,
.h2 {
  font-weight: 500;
  font-size: 32px;
  font-weight: 500;
}

#light {
  font-weight: 300;
}

text {
  font-weight: 300;
  font-size: 24px;

}

.subtitle {
  font-weight: 300;
  line-height: 36px;
  font-size: 24px;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

.navbar {
  position: sticky;
  top: 0;
  transition: top 0.3s;
  z-index: 9999;
  background-color: white;
  width: 1362px;
  height: 77px;
  -webkit-box-shadow: none;
  width: 100%;


  /* position: absolute;*/

  left: 239px;
  /* top: 30px;  */

  font-style: normal;
}

.navbar__logo img {
  height: 21px;
  width: 161px;
  top: 33px;
  left: 39px;
} 
.navbar__items {
  gap: 10px;
  padding: 6px 8px
}
.navbar a:hover{
  color:black;
  font-weight: 600;
}

.navbar a:active{
  color:black;
  font-weight: 700;
}

.navbar .button {
  font-weight: 700;
}


.footer{
  background-image: url('../assets/tips_background/Vector_1.svg' );
  /* width: 2441px; */
  min-height: 1100px;
  background-color: transparent;
  background-position: bottom;
  position:sticky;
  background-repeat: no-repeat;
  background-size:100%;


}

.footer .container{
  position:relative;
  bottom: -895px;
  width: 750px;
  font-weight: 300;
  line-height: 24px;

  
}

.footer {
  /* column-gap: 200px; */
  color: #292620;

}

.footer a{
  color: #292620;
  text-decoration-line: underline;
}

/* need to be updated */
/* .navbar.title{
  font-size: 36px;
  line-height: 42px;
  color: rgb(236, 223, 36);

} */

/* .header_wrapper{
  max-width: 975px;
  margin: 0 auto;
  width: 100%;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
} */
