.dropdown-container {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 65%;
  position: relative;
}

.dropdown-container p {
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--color-titles);
  padding: 1rem 0 1rem 0;
}

.dropdown select {
  border-radius: 8px;
  border: 1px solid #000;
  height: 33px;
  padding: 7px 10px;
  width: 133px;
  color: var(--color-titles);
  font-weight: var(--ifm-dropdown-font-weight);
  background: transparent;
  display: inline-block;
  position: relative;
}

.dropdown select:hover {
  border: 2px solid black;
}

.dropdown-selection {
  z-index: 999;
  display: grid;
  justify-items: start;
  background-color: white;
  position: absolute;
  border-radius: 10px;
  border: 1px solid black;
  width: 250px;
}

.dropdownTags {
  border-radius: 8px;
  color: var(--color-titles);
  padding: 1rem 0 1rem 0;
}

.dropdownCat {
  border-radius: 8px;
  color: var(--color-titles);
  padding: 1rem 0 1rem 0;
}

.dropdownDate {
  display: inline-block;
  color: var(--color-titles);
  padding: 1rem 0 1rem 0;
}

.dropdown:hover .dropdown-list,
.dropdownTags:hover .dropdown-list,
.dropdownCat:hover .dropdown-list,
.dropdownDate:hover .dropdown-list {
  z-index: 999;
  display: grid;
  justify-items: start;
  background-color: white;
  position: absolute;
  border-radius: 10px;
  border: 1px solid black;
  width: 250px;
}

.cat-list {
  margin: 0;
  line-height: 3rem;
  background-color: white;
  font-family: var(--ifm-font-family-base);
  font-size: 1.4rem;
  border: none;
  text-align: left;
}

.cat-list:hover {
  background-color: var(--ifm-color-primary-light);
  font-weight: 700;
  width: 100%;
}

.date-list:hover {
  background-color: var(--ifm-color-primary-light);
  font-weight: 700;
  width: 100%;
}

.date-list {
  margin: 0;
  line-height: 3rem;
  background-color: white;
  font-family: var(--ifm-font-family-base);
  font-size: 1.4rem;
  border: none;
  text-align: left;
}

.difficulty-list:hover,
.difficulty-list::selection {
  background-color: var(--ifm-color-primary-light);
  font-weight: 700;
  width: 100%;
}

.difficulty-list {
  margin: 0;
  line-height: 3rem;
  background-color: white;
  font-family: var(--ifm-font-family-base);
  font-size: 1.4rem;
  border: none;
  text-align: left;
}

.dropdown-list {
  display: none;
}

.drop {
  padding: 7px 10px;
  width: 133px;
  height: 33px;

  border: 1px solid #000000;
  border-radius: 8px;
  background-color: transparent;
  background-image: url('../../static/img/Vector2.svg');
  background-repeat: no-repeat;
  background-position: right 8px top 45%;
}

.drop:hover {
  border: 2px solid #000000;
  background-image: url('../../static/img/Vector2B.svg');
  background-repeat: no-repeat;
}

.content-tags {
  margin: 0;
  line-height: 3rem;
  background-color: white;
  font-family: var(--ifm-font-family-base);
  font-size: 1.4rem;
  border: none;
  text-align: left;
}

.content-tags:hover {
  background-color: var(--ifm-color-primary-light);
  font-weight: 700;
  width: 100%;
}

.cat-list:hover {
  background-color: var(--ifm-color-secondary-lightest);
  font-weight: 700;
  width: 100%;
}

.content:hover {
  background-color: var(--ifm-color-primary-light);
}

.content:focus {
  border-left: 4px solid var(--ifm-color-primary);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
