.navbar {
  align-items: center;
  padding: 4rem 2rem 4rem 2rem;
}

.navbar__logo img {
  max-width: 40%;
  height: auto;
}

.navbar__link {
  font-size: 2rem;
  padding: 6px 8px;
}

.navbar a:hover {
  color: black;
  font-weight: 600;
}

.navbar a:active {
  color: black;
  font-weight: 700;
}

.navbar .button {
  font-weight: 700;
  font-size: 1.6rem;
  padding: 1rem 1.8rem 1rem 1.8rem;
  border-radius: 8px;
  margin-left: 1.8rem;
}
