.navbar {
  align-items: center;
  padding: 4rem 2rem 4rem 2rem;
  box-shadow: none;
}

.navbar__logo img {
  max-width: 250px;
  height: auto;
}
@media screen and (max-width: 360px) {
  .navbar__logo img {
    max-width: 200px;
  }
}

.navbar__link {
  font-size: 1.6rem;
  padding-right: 12px;
}

.navbar a:hover {
  color: black;
  font-weight: 600;
}

.navbar a:active {
  color: black;
  font-weight: 700;
}

.nav-button {
  width: 178px;
  height: 40px;
  font-size: 16px;
  font-weight: 700;
  background-color: var(--ifm-color-secondary);
  border-radius: 8px;
  border: none;
  padding: 8px 0 0 16px;
}

.nav-button:hover {
  -moz-box-shadow: 0 0 10px var(--ifm-color-secondary);
  -webkit-box-shadow: 0 0 10px var(--ifm-color-secondary);
  box-shadow: 0 0 10px var(--ifm-color-secondary);
}

/* .navbar-sidebar__item .nav-button {
  width: 178px;
  height: 40px;
  font-size: 1.6rem;
  font-weight: 700;
  text-align: center;
  background-color: var(--ifm-color-secondary);
  border-radius: 8px;
  border: none;
  margin-left: 2rem;
} */
