.resources-footer {
  position: absolute;
  bottom: 0;
  width: 100vw;
}

.resources-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 20px;
  padding-bottom: 20px;
  flex-wrap: nowrap;
  padding-left: 12%;
  max-width: 80%;
  margin-bottom: 30rem;
  z-index: 1;
}

.resources-header {
  max-width: 40vw;
  margin-bottom: 10rem;
}

.resource-content-container {
  display: flex;
  flex-direction: column;
}

.content-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.content-image {
  max-width: 8rem;
  margin-right: 20px;
}

.content-paragraph {
  font-size: 16px;
}

@media screen and (max-width: 996px) {
  .resources-container {
    margin-bottom: 2rem;
    padding-left: 2.5rem;
  }
  .resources-header {
    max-width: 90vw;
  }
}

.resources-container a:hover {
  text-decoration: underline;
  cursor: pointer;
  color: black;
}
