.resources-footer {
  bottom: 0;
  width: 100vw;
}

.resources-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 20px;
  padding-bottom: 20px;
  flex-wrap: nowrap;
  padding-left: 12%;
  max-width: 80%;
}

.resources-container a:hover {
  text-decoration: underline;
  cursor: pointer;
  color: black;
}

.resources-container table td {
  background-color: white;
}
