body.resources-background {
  background: url('../../static/img/backgrounds/resources-background.svg') no-repeat bottom right fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.resources-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 20px;
  padding-bottom: 20px;
  flex-wrap: nowrap;
  padding-left: 12%;
  max-width: 80%;
}

td,
th,
tr,
table {
  border: 0 !important;
  border-spacing: 0 !important;
  margin-bottom: 20rem;
}

table {
  position: relative;
  top: 50px;
  width: 100%;
}

td a {
  font-size: 48px;
  font-weight: 500;
  line-height: 56px;
  color: black;
}

table td {
  margin-bottom: 5rem;
}

td img {
  padding-right: 2rem;
}

table th,
table td {
  padding-left: 0;
}
