.menu__list-item-collapsible .menu__link {
  font-size: 24px;
  font-weight: 700;
  color: var(--dark);
  margin-top: 2.1rem;
}

.menu a:hover {
  text-decoration: underline;
  font-weight: 700;
  background: none;
}

.menu__link--active:not(.menu__link--sublist) {
  color: var(--dark);
}

.menu__link--active:not(.menu__link--sublist) {
  background: var(--ifm-color-primary-light);
}
