.signup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #cafbd1;
  width: 55rem;
  height: 50rem;
  margin-left: 30%;
  border: none;
  border-radius: 10px;
  padding: 3.5rem;
  margin-top: 20rem;
}

@media screen and (max-width: 996px) {
  .signup-container {
    width: 80%;
    height: auto;
    margin-left: 10%;
    border: none;
    border-radius: 10px;
    padding: 3.5rem;
    margin-top: 10rem;
  }
}

.signup-container form {
  position: none;
}

.thanks-container h1 {
  text-align: center;
}

.thanks-container a {
  text-decoration: underline;
  cursor: pointer;
  font-weight: bold;
}

.signup-footer {
  bottom: 0;
  width: 100vw;
}

.signup-container input[type='email'] {
  padding: 10px 8px;
  width: 287px;
  height: 40px;
  background-color: white;
  border-radius: 10px;
}

.signup-button {
  font-size: 16px;
  font-weight: 700;
  padding: 10px 8px;
  width: 287px;
  background-color: var(--ifm-color-primary);
  border-radius: 8px;
  border: 1px solid var(--ifm-text);
}

.signup-container input {
  margin-bottom: 2rem;
}

.signup-disclaimer {
  text-align: center;
  margin-top: 5rem;
}
