body.tips-background {
  background: url('../../static/img/backgrounds/tips-background.png') no-repeat center center fixed;
  /* -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; */
  background-size: cover;
}

.tipsheader {
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  padding-top: 100px;
  padding-left: 350px;
  color: #292620;
}
