.main-wrapper {
  background-color: var(--ifm-color-primary-lightest);
}

.tipsheader {
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  padding-top: 100px;
  padding-left: 350px;
  color: #292620;
}
