
.dropdown   {
    position: relative;
    display: inline-block;
    
    width: 133px;
    height: 33px;
    left: 450px;
    top: 50px;
    z-index: 1;

    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
/* identical to box height */

    color: #756C5B;

} 


.dropdownTags   {
    position: relative;
    display: inline-block;
    
    width: 133px;
    height: 33px;
    left: 750px;
    top: 17px;
    z-index: 1;

    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
/* identical to box height */

    color: #756C5B;

} 

.filterText {
    position: absolute;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #756C5B;
    left: 365px;
    top: 287px;

}
   

.dropdown:hover .menu {
    display:block;

}

.dropdownTags:hover .menu {
    display:block;

}

.menu   {
display: none;
}

.drop {
    box-sizing: border-box;

/* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;
    padding: 7px 10px;
    gap: 10px;

    /* position: absolute; */
    width: 250px;
    height: 33px; 


    border: 1px solid #000000;
    border-radius: 8px;
    background-color: rgb(255, 255, 255); 

    
    
}

