.tipsheader {
    font-weight: 500; 
    font-size: 48px;
    line-height: 56px;
    padding-top: 100px;
    padding-left: 350px;
    color: #292620;;
}

.background1{
    background-image: url('../assets/tips_background/Vector4.png');
    background-position-y: 100%;
    background-repeat: no-repeat;
    z-index: -1;
    /* position: fixed; */
}

