
.card {
    position: absolute;
    width: 689px;
    height: 154px;
    
    display: inline;
    
    background: #FBFBFB;
    box-shadow: 4px 4px 4px rgba(41, 38, 32, 0.04);
    border-radius: 15px;
    margin-bottom: 45px;

}

.heading{
    
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    color: #292620;
}
.header{
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    color: #292620;
}

.heading:hover {
    text-decoration-line: underline;
}

.heading:a {
    flex: 1 1 0%;
}

text   {
    position: absolute;
    /*width: 654px;*/
    height: 38px;
    /*left: 386px;*/
    font-family: 'Roboto';
    
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;

    color: #5E5D5B;
}