name: Deploy On Push To Main
on:
  push:
    branches:
      - main
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-node@v3
      with:
        node-version: 18
        path: ./frontend
    - run: npm install
    - run: npm run build
    - run: npm run deploy -outDir
