name: Run Ruby tips

on:
  schedule:
    - cron: '55 22 * * *'
  workflow_dispatch:
  pull_request:
    branches:
      - trunk
    paths:
      - '**/code/ruby/**'
  push:
    branches:
      - trunk
    paths:
      - '**/code/ruby/**'

env:
  DISPLAY: :99

jobs:
  test_examples:
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-latest, windows-latest, macos-latest ]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout GitHub repo
        uses: actions/checkout@v3
      - name: Remove driver directories Windows
        if: matrix.os == 'windows-latest'
        run: |
          rm "$env:ChromeWebDriver" -r -v
          rm "$env:EdgeWebDriver" -r -v
          rm "$env:GeckoWebDriver" -r -v
      - name: Remove driver directories Non-Windows
        if: matrix.os != 'windows-latest'
        run: |
          sudo rm -rf $CHROMEWEBDRIVER $EDGEWEBDRIVER $GECKOWEBDRIVER
      - name: Start Xvfb
        if: matrix.os == 'ubuntu-latest'
        run: Xvfb :99 &
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.0
          bundler-cache: true
      - name: Run tests on Linux and macOS
        if: matrix.os != 'windows-latest'
        uses: nick-invision/retry@v2.8.3
        with:
          timeout_minutes: 20
          max_attempts: 3
          command: |
            # Find directories
            directories=$(find . -type d -path '*/code/ruby' 2>/dev/null)            
            # Loop over directories and execute mvn test
            for dir in $directories
            do
                echo "Running tests in $dir"
                cd $dir
                bundle install
                ruby *.rb
                cd -
            done
      - name: Run tests on Windows
        if: matrix.os == 'windows-latest'
        uses: nick-invision/retry@v2.8.3
        with:
          timeout_minutes: 20
          max_attempts: 3
          command: |
            # PowerShell script to find directories and run mvn test
            $directories = Get-ChildItem -Path . -Recurse -Filter 'ruby' | Where-Object { $_.PSIsContainer -and $_.FullName -like '*\code\ruby*' }
            foreach ($dir in $directories)
            {
              Write-Host "Running tests in $($dir.FullName)"
              Set-Location -Path $dir.FullName
              bundle install
              $rbFiles = Get-ChildItem -Path . -Recurse -Filter '*.rb' | ForEach-Object { $_.FullName }
              if ($pyFiles)
              {
                ruby $rbFiles
              }
              Set-Location -Path $PSScriptRoot
            }